#archive
  - articles_by_year_month.reverse_each do |year, months|
    %h2= year
    - months.reverse_each do |month, items|
      %dl
        - items.each do |item|
          %dt= time(item[:created_at], '%Y-%m-%d')
          %dd= link_to(item[:title], item)
.clear

#tagcloud
  - tags = rank_tags(5)
  - tags.sort_by{|k, v| k}.each do |tag, count|
    %a{:href => "/tags/#{tag}/", :class => "tag cloud-#{count}"}= tag
