- is_embedded ||= false
.article
  - if not is_embedded
    = render('_previous_next', :item => item, :position => 'top')

  %h1.title= link_to(item[:title], item, :title => "Full article", :class => "permalink" )
  %p.meta
    written by #{item[:author] || "Holger Just"} on #{time(item[:created_at], '%B %d, %Y')}
  
  != content || partial(item)
  
  - if not is_embedded
    = render('_previous_next', :item => item, :position => 'bottom')
