- is_embedded ||= false
.article
  - if not is_embedded
    = render('_previous_next', :item => item, :position => 'top')

  %h1.title= link_to(item[:title], item, :title => "Permalink", :class => "permalink" )
  %p.meta
    - tags = tag_set(item)
    written by <a href="#info">#{item[:author] || "Holger Just"}</a> on #{time(item[:created_at], '%B %d, %Y')}#{tags.empty? ? "." : " and tagged with"}
    = tags.collect{|t, info| link_to_tag(t, info[:tags].first)}.join(", ") + (tags.empty? ? "" : ".")
  != content || partial(item)
  
  - if disqus_shortname && !is_front_page?
    = render('_disqus', :item => @item)

  - if not is_embedded
    = render('_previous_next', :item => item, :position => 'bottom')
