#info
  - info = (item[:author] || "Holger Just").parameterize("_")
  = render("about/_#{info}", :item => @item)
#twitter
  %h2 The real life
  = get_tweets(twitter_username)
  %a{:href => "http://twitter.com/#{twitter_username}"} Follow me on Twitter...
.clearfix
= render '_legal'