!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = title
    %meta{:content => "Holger Just", :name => "author"}/
    %meta{:content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;", :name => "viewport"}/
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/assets/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/assets/css/main.css", :rel => "stylesheet"}/
  = "<!--[if lt IE 7 ]> <body class=\"ie ie6 #{site_name}\"> <![endif]-->"
  = "<!--[if IE 7 ]> <body class=\"ie ie7 #{site_name}\"> <![endif]-->"
  = "<!--[if IE 8 ]> <body class=\"ie ie8 #{site_name}\"> <![endif]-->"
  = "<!--[if IE 9 ]> <body class=\"ie ie9 #{site_name}\"> <![endif]-->"
  = "<!--[if (gt IE 9)|!(IE)]><!--> <body class=\"non-ie #{site_name}\"> <!--<![endif]-->"
  = yield
  / Javascript at the bottom for fast page loading
  </body>
